- name: Install tools from Github Releases
  hosts: all
  tasks:

  - name: Create ~/.local/share/aj-eget-bins
    ansible.builtin.file:
      path: ~/.local/share/aj-eget-bins
      state: directory

  - name: Install latest eget from GitHub
    ansible.builtin.shell:
      cmd: |
        set -e

        DEST="$HOME/.local/share/aj-eget-bins"
        mkdir -p "$DEST"

        # Skip if already installed
        if [ -x "$DEST/eget" ]; then
          echo "eget already installed at $DEST/eget"
          exit 0
        fi

        # Get release metadata from GitHub API
        ASSET_URL=$(curl -s https://api.github.com/repos/zyedidia/eget/releases/latest \
          | grep browser_download_url \
          | grep linux_amd64 \
          | cut -d '"' -f 4)

        if [ -z "$ASSET_URL" ]; then
          echo "Failed to fetch asset URL"
          exit 1
        fi

        TMP_DIR=$(mktemp -d)
        cd "$TMP_DIR"

        # Download release tarball
        curl -L "$ASSET_URL" -o eget.tar.gz

        # Extract
        tar -xzf eget.tar.gz

        # Move binary
        find . -type f -name "eget" -exec cp {} "$DEST/eget" \;

        chmod +x "$DEST/eget"

        cd ~
        rm -rf "$TMP_DIR"
      creates: ~/.local/share/aj-eget-bins/eget

  - name: Install self-contained tools from GH
    ansible.builtin.command:
      cmd: "~/.local/share/aj-eget-bins/eget {{ item }} --to ~/.local/share/aj-eget-bins --asset ^musl --upgrade-only"
    loop:
      - "ahmetb/kubectx --asset kubectx"
      - artempyanykh/marksman
      - astral-sh/uv
      - google/yamlfmt
      - jesseduffield/lazydocker
      - mrjosh/helm-ls
      # It's also available in Fedora DNF repos, but we wanna run the latest
      # release as soon as it hits.
      - "neovim/neovim --asset x86"
      - polarmutex/beancount-language-server
      - zk-org/zk

  # Ollama isn't here because it takes forever to download.

  - name: Fix neovim executable name
    ansible.builtin.file:
      src: ~/.local/share/aj-eget-bins/nvim-linux-x86_64
      dest: ~/.local/share/aj-eget-bins/nvim
      state: link

  # k9s isn't here because it's weird. They don't ship to fedora repositories. On
  # Github releases, they just expose the .rpm files. You have to download the
  # .rpm file and dnf-install it.

  # Unfortunately it doesn't work well with eget. `eget` just extracts the main
  # script, but lua-ls needs the whole project dir.
  - name: Install lua-language-server
    ansible.builtin.shell:
      cmd: |
        mkdir -p ~/.local/share/aj-apps
        cd ~/.local/share/aj-apps

        ~/.local/share/aj-eget-bins/eget LuaLS/lua-language-server --asset ^musl -d
        rm -rf lua-ls
        mkdir lua-ls
        tar -xzf lua-language-server-*-linux-x64.tar.gz -C lua-ls
        rm lua-language-server-*-linux-x64.tar.gz

        rm ~/.local/bin/lua-language-server
        ln -s $PWD/lua-ls/bin/lua-language-server ~/.local/bin/lua-language-server
    loop:
      - LuaLS/lua-language-server
