- name: Set up gnome-specific settings
  hosts: all
  tasks:

  # * "@as []" means the keybinding is unset
  # * commented out row means I'm keeping the default keybinding
  - name: Set custom Forge keybindings
    community.general.dconf:
      key: "/org/gnome/shell/extensions/forge/keybindings/{{ item.key }}"
      value: "{{ item.value }}"
    loop:
      # focus-border-toggle: ['<Super>x']
      - key: focus-border-toggle
        value: "@as []"
      # window-gap-size-increase: ['<Control><Super>plus']
      - key: window-gap-size-increase
        value: "@as []"
      # window-gap-size-decrease: ['<Control><Super>minus']
      - key: window-gap-size-decrease
        value: "@as []"
      # con-split-layout-toggle: ['<Super>g']
      - key: con-split-layout-toggle
        value: "@as []"
      # con-split-horizontal: ['<Super>z']
      - key: con-split-horizontal
        value: "@as []"
      # con-split-vertical: ['<Super>v']
      - key: con-split-vertical
        value: "@as []"
      # con-stacked-layout-toggle: ['<Shift><Super>s']
      - key: con-stacked-layout-toggle
        value: "@as []"
      # con-tabbed-layout-toggle: ['<Shift><Super>t']
      - key: con-tabbed-layout-toggle
        value: "@as []"
      # con-tabbed-showtab-decoration-toggle: ['<Control><Alt>y']
      - key: con-tabbed-showtab-decoration-toggle
        value: "@as []"
      # window-swap-left: ['<Control><Super>h']
      - key: window-swap-left
        value: "@as []"
      # window-swap-down: ['<Control><Super>j']
      - key: window-swap-down
        value: "@as []"
      # window-swap-up: ['<Control><Super>k']
      - key: window-swap-up
        value: "@as []"
      # window-swap-right: ['<Control><Super>l']
      - key: window-swap-right
        value: "@as []"
      # window-move-left: ['<Shift><Super>h'] -> custom: Shift+Alt+H
      - key: window-move-left
        value: "['<Shift><Alt>h']"
      # window-move-down: ['<Shift><Super>j']
      - key: window-move-down
        value: "['<Shift><Alt>j']"
      # window-move-up: ['<Shift><Super>k']
      - key: window-move-up
        value: "['<Shift><Alt>k']"
      # window-move-right: ['<Shift><Super>l']
      - key: window-move-right
        value: "['<Shift><Alt>l']"
      # window-focus-left: ['<Super>h'] - kept as is
      # - key: window-focus-left
      #   value: "['<Super>h']"
      # window-focus-down: ['<Super>j'] - kept as is
      # - key: window-focus-down
      #   value: "['<Super>j']"
      # window-focus-up: ['<Super>k'] - kept as is
      # - key: window-focus-up
      #   value: "['<Super>k']"
      # window-focus-right: ['<Super>l'] - kept as is
      # - key: window-focus-right
      #   value: "['<Super>l']"
      # window-toggle-float: ['<Super>c']
      - key: window-toggle-float
        value: "@as []"
      # window-toggle-always-float: ['<Shift><Super>c']
      - key: window-toggle-always-float
        value: "@as []"
      # workspace-active-tile-toggle: ['<Shift><Super>w']
      - key: workspace-active-tile-toggle
        value: "@as []"
      # prefs-open: ['<Super>Period']
      - key: prefs-open
        value: "@as []"
      # prefs-tiling-toggle: ['<Super>w']
      - key: prefs-tiling-toggle
        value: "@as []"
      # window-swap-last-active: ['<Super>Return']
      - key: window-swap-last-active
        value: "@as []"
      # window-snap-one-third-right: ['<Control><Alt>g']
      - key: window-snap-one-third-right
        value: "@as []"
      # window-snap-two-third-right: ['<Control><Alt>t']
      - key: window-snap-two-third-right
        value: "@as []"
      # window-snap-one-third-left: ['<Control><Alt>d']
      - key: window-snap-one-third-left
        value: "@as []"
      # window-snap-two-third-left: ['<Control><Alt>e']
      - key: window-snap-two-third-left
        value: "@as []"
      # window-snap-center: ['<Control><Alt>c']
      - key: window-snap-center
        value: "@as []"
      # window-resize-left-increase: ['<Control><Super>y']
      - key: window-resize-left-increase
        value: "@as []"
      # window-resize-left-decrease: ['<Shift><Control><Super>o']
      - key: window-resize-left-decrease
        value: "@as []"
      # window-resize-bottom-increase: ['<Control><Super>u']
      - key: window-resize-bottom-increase
        value: "@as []"
      # window-resize-bottom-decrease: ['<Shift><Control><Super>i']
      - key: window-resize-bottom-decrease
        value: "@as []"
      # window-resize-top-increase: ['<Control><Super>i']
      - key: window-resize-top-increase
        value: "@as []"
      # window-resize-top-decrease: ['<Shift><Control><Super>u']
      - key: window-resize-top-decrease
        value: "@as []"
      # window-resize-right-increase: ['<Control><Super>o']
      - key: window-resize-right-increase
        value: "@as []"
      # window-resize-right-decrease: ['<Shift><Control><Super>y']
      - key: window-resize-right-decrease
        value: "@as []"

  - name: Set Focus Changer keybindings to use Alt instead of Super
    community.general.dconf:
      key: "/org/gnome/shell/extensions/focus-changer/{{ item.key }}"
      value: "{{ item.value }}"
    loop:
      - key: focus-left
        value: "['<Alt>h']"
      - key: focus-down
        value: "['<Alt>j']"
      - key: focus-up
        value: "['<Alt>k']"
      - key: focus-right
        value: "['<Alt>l']"
