- name: Set up gnome extensions
  hosts: all
  tasks:

  - name: install gext
    ansible.builtin.command:
      cmd: uv tool install gnome-extensions-cli
      creates: ~/.local/bin/gext

  - name: install GSConnect
    ansible.builtin.command:
      cmd: ~/.local/bin/gext install gsconnect@andyholmes.github.io
      creates: ~/.local/share/gnome-shell/extensions/gsconnect@andyholmes.github.io

  # Workaround for "open() error, gschemas.compiled not found"
  - name: fix GSConnect schemas file
    ansible.builtin.command:
      cmd: glib-compile-schemas ~/.local/share/gnome-shell/extensions/gsconnect@andyholmes.github.io/schemas
      creates: ~/.local/share/gnome-shell/extensions/gsconnect@andyholmes.github.io/schemas.compiled

  - name: install tiling assistant
    ansible.builtin.command:
      cmd: ~/.local/bin/gext install tiling-assistant@leleat-on-github
      creates: ~/.local/share/gnome-shell/extensions/tiling-assistant@leleat-on-github

  - name: install vitals
    ansible.builtin.command:
      cmd: ~/.local/bin/gext install Vitals@CoreCoding.com
      creates: ~/.local/share/gnome-shell/extensions/Vitals@CoreCoding.com

  # Change focused window with keyboard
  - name: install Focus Changer
    ansible.builtin.command:
      cmd: ~/.local/bin/gext install focus-changer@heartmire
      creates: ~/.local/share/gnome-shell/extensions/focus-changer@heartmire

  # Workaround for "open() error, gschemas.compiled not found"
  - name: fix Focus Changer's schemas file
    ansible.builtin.command:
      cmd: glib-compile-schemas ~/.local/share/gnome-shell/extensions/focus-changer@heartmire/schemas
      creates: ~/.local/share/gnome-shell/extensions/focus-changer@heartmire/gschemas.compiled
