- name: Set up node.js
  hosts: all
  tasks:

  - name: install nodenv with git
    ansible.builtin.git:
      repo: https://github.com/nodenv/nodenv.git
      dest: ~/.nodenv

  - name: install node-build with git
    ansible.builtin.git:
      repo: https://github.com/nodenv/node-build.git
      dest: ~/.nodenv/plugins/node-build
      # `node-build` repo often gets borked tags which can't be easily fetched. `force` overrides whatever we have
      # locally to reflect the remove.
      force: yes

  - name: install node
    ansible.builtin.command:
      cmd: ~/.nodenv/bin/nodenv install 25.1.0
      creates: ~/.nodenv/versions/25.1.0

  - name: set global node version
    ansible.builtin.command:
      cmd: ~/.nodenv/bin/nodenv global 25.1.0

  - name: Install npm tools
    ansible.builtin.shell:
      cmd: |
        export PATH="$HOME/.nodenv/bin:$PATH"
        eval "$(nodenv init - zsh)"

        # Lang servers
        npm install -g vscode-langservers-extracted
        npm install -g typescript
        npm install -g typescript-language-server

        # Other tools
        npm install -g @mermaid-js/mermaid-cli
