- name: Set up system packages and programs
  hosts: all
  tasks:

  - name: upgrade DNF packages
    ansible.builtin.dnf:
      name: "*"
      state: latest
    become: true
    tags: superuser

  - name: Set git email
    community.general.git_config:
      name: user.email
      scope: global
      value: "{{ git_email }}"

  - name: Set git username
    community.general.git_config:
      name: user.name
      scope: global
      value: "{{ git_username }}"

  - name: Set main git branch name
    community.general.git_config:
      name: init.defaultBranch
      scope: global
      value: main

  - name: enable lazygit's copr
    community.general.copr:
      name: atim/lazygit
    become: true
    tags: superuser

  - name: enable starship's copr
    community.general.copr:
      name: atim/starship
    become: true
    tags: superuser

  - name: enable yazi's copr
    community.general.copr:
      name: lihaohong/yazi
    become: true
    tags: superuser

  - name: install system packages
    ansible.builtin.dnf:
      name:
        # for c++ language servers
        - bear
        - fd-find
        # for clangd
        - clang-tools-extra
        - direnv
        - doas
        - gcc-c++
        - fuse-libs # required for running .AppImage
        - git-crypt
        - gh
        - glances
        - htop
        - lazygit
        - openssl
        - python3-devel
        - rclone
        - ripgrep
        - tree-sitter-cli
        - starship
        - uv
        - xclip
        - yazi
        - yq
        - zoxide
        - zsh
      state: present
    become: true
    tags: superuser

  - name: install GUI apps
    community.general.flatpak:
      name:
        - com.brave.Browser
        - com.mattjakeman.ExtensionManager
        - com.spotify.Client
        - io.missioncenter.MissionCenter
        - io.podman_desktop.PodmanDesktop
        - org.localsend.localsend_app
        - org.signal.Signal
        - org.sqlitebrowser.sqlitebrowser
        - org.videolan.VLC
        - org.wezfurlong.wezterm
    become: true
    tags: superuser

  - name: set zsh as the default shell for user {{ ansible_user_id }}
    vars:
      the_user: "{{ ansible_user_id }}"
    ansible.builtin.user:
      name: "{{ the_user }}"
      shell: /bin/zsh
    become: true
    tags: superuser
